@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Quicksand&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");

body{
	font-family: 'Quicksand', serif;
  	font-size: 20px;
 	margin: 0px;
 	text-align: justify;
}

h1,h2,h3 {
	font-family: 'Quicksand', sans-serif;
	font-size: 25px;
	font-weight: bold; 
}


a {
	text-decoration: none;
}